.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  height: 100vh;
}

.container {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.55);
}

.btn {
  animation: 1s getup ease-out infinite;
  color: black;
}

@keyframes getup {
  50% {
    transform: translate(0, -10px);
    color: #ffcf00;
  }
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
}
